<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Library Management System</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<header>
			<div class="logo">
                <img width='50' height='50' src="img/logo.png">
				<a href="/"><h1>Library</h1></a>
			</div>
			<nav>
				<ul>
					<li><a href="books">Books</a></li>
					<% if(user) { %>
							
						<% if(user.role==='user'){ %>
							<li><a href="/cart">Cart(<%=user.cart.length %>)</a></li>
							<% } %>
					
					<li>
						<div class="dropdown">
							<button class="dropbtn">Hello <%= user.name%></button>
							<div class="dropdown-content">
								<a href="me">Account</a>
								
								<% if(user.role==='user'){ %>
									<a href="/messages">Messages</a>
									<% } %>
								<a class="logout">Logout</a>
							</div>
						</div>
					</li>
					<% }else{ %>
					<li><a href="login">Login</a></li>
					<li><a href="signup">SignUp</a></li>
					<% } %>
				</ul>
			</nav>
		</header>
		
	


        <div class="container">
            <% books.forEach(book=> { %>
			<div class="book">
				
				<div class="imgBx"><a href=book/<%= book.slug %> > <img  width="250" height="300" src=<%= book.image%> >
					<% if(book.NoofBooks==0){ %>
					<div class="book-availability"><h1>Not Available</h1></div>
				<% }  %>
				</a></div>
			
				<div class="book-title"><%= book.name %></div>
			
					<% if(user && user.role==='user'){ %>
						<div class="book-info">
					<div class="book-price">Rs. <%= book.price%></div>
				
				
						
						<div>

<% if(user.issuedBooks.includes(book.id)){ %>
	<button class="takenbook">Taken</button>
	<% } else if(user.interestedBooks.includes(book.id)){ %>
							<button>Hold</button>

		<% }else{ %>
								<%  if (book.NoofBooks==0){ %>
									<button   
									class="interestbtn" data-bookId=<%= book._id %>
									>Interested</button>
<% }else{ %>
	<% if(!user.cart.includes(book._id)){ %>
							<button  class='cartbtn' data-bookId=<%= book._id %> >Add to cart</button>
						<% }else{ %>
							<button  class='removecartbtn' data-bookId=<%= book._id %> >Remove</button>

							<% }}} %>


						</div>
						
				
				
					</div>
			<% } %> 
<%	if(user && user.role==='admin'){	%>	
<div class="book-info">
	<button>Update</button>
	<button>Delete</button>
</div>

<% } %>

			</div>
		
            <% }) %>


			

		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
		<script src="/js/index.js"></script>
	</body>
</html>
