<%- include('header') %>

<% books.forEach(book=>{ %>
<h1>  <a href=book/<%= book.slug %>><%= book.name %> Available Now </a></h1>
<button class="removeinterestbtn"  data-bookId=<%= book._id %>>Ok</button>

	<% }) %>


	<%- include('footer') %>